<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"> Impression </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/"> Home </a></li>
         {% if current_user.is_authenticated %}
         <li><a class="nav-item nav-link" href="{{ url_for('main.new_pitch') }}">New Pitch</a></li>
         <li><a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
         {% else %}
         <li><a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
         <li><a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Sign Up</a></li>
         {% endif %}
      </ul>
    </div>
  </div>
</div>