{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pitch.css') }}">
{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
      <div class="col-md-8">
         <h1>Pitches</h1>
         {% for pitch in pitch_list %}
         <div class="card-header">
            <h3 class="card-title">{{pitch.title}}</h3>
         </div>
         <div class="card-body">
            <p class="card-text">{{pitch.body}}</p>
         </div>
         <div class="card-footer">
            <a href="{{ url_for('main.new_comment') }}">Comment</a>
         </div>
         {% for comm in comment_list %}
         <li><small>{{comm.comment}}</small></li>
         {% endfor %}
         <hr>
         {% endfor %}
      </div> 
		<div class="col-md-4">
         <h1>Add to our Pitches</h1>
			<form method="POST" action="">
            {{wtf.quick_form(form)}}
			</form>
      </div>
   </div>   
</div>

{% endblock content %}